{{! <div>
  todo listo para trabajar con socket
</div>
<p id="message"></p> }}
<h1>Bienvenides al coder chat communnity</h1>
<div>
  <input id="chatbox" />
</div>
<div><p id="messageLogs"></p></div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>